pip
setuptools

absl-py
aioice
aiortc
altair
astunparse
attrs
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dnspython
flatbuffers
fonttools
gast
gitdb
GitPython
google-crc32c
google-pasta
grpcio
h5py
idna
ifaddr
jax
jaxlib
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
namex
narwhals
numpy
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyarrow
pycparser
pydeck
pyee
Pygments
pylibsrtp
pyOpenSSL
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scipy
sentencepiece
tensorboard
tensorboard-data-server
tensorflow
termcolor
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wheel
wrapt
